
<div class="container">
    <button mat-icon-button color="accent" routerLink="/Razorpay"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/></svg>
      </button>
    <h2 style="text-align: center; font:bold ; background-color: rgb(21, 55, 83); color: coral; margin-top: 20px;">List of Your Bookings</h2>
   <div style="margin-left: -70px;">
    <table class="table table-striped" style="background-color: rgb(127, 173, 150);">
        <thead style="color: darkolivegreen; background-color: lightblue;">
            <tr>
                <th>PNR-ID</th>
                <th>Booking Id</th>
                <th>Booking Status</th>
                <th>Source City</th>
                <th>Destination City</th>
                <th>Train Name</th>
                <th>Train Number</th>
                <th>Date</th>
                 
                <th>Actions</th>
            </tr>
        </thead>
    </table>
    <p>  Today's item: {{item}}</p>
            