<div class="bootstrap-wrapper">
        <h1>
    
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt9pJ7-ICXQMgoMPRAFTAfZOzVqC2ZKpbvVgQvtfEieofa91mo3UslLRX9SaP2gHnCXcw&usqp=CAU" height ="150px" width ="180px" align="left">
           <br>WELCOME TO PAKISTAN<br><br>ONLINE RAILWAY RESERVATION SYSTEM<br>
        </h1>
    <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(7, 7, 7); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
        WELCOME TO PAKISTAN RAILWAYS TRANSPORTATION  -  WE ARE AVAILABLE FOR 24*7  -  HAVE A HAPPY & SAFE JOURNEY
    </marquee>
    <div class="buttons">
       
        <ul>
            
            <li><a class="home"></a></li>
            <br>
            <li><a routerLink='/Signup'>NEW USER REGISTRATION</a></li>
            <br>
            <li><a routerLink='/UserLogin'>USER-LOGIN</a></li>
            <br>
            <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
            <br>
            <li><a routerLink='/Searchtrains'>TRAIN-SCHEDULE</a></li>

        </ul>
        
    </div>
</div>